@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Это внутренняя система компании Northwind, для управления продажами и поставками</p>
</div>
